body{
    background-color: #ade3f0 ;
}
h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
    text-align: center;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
  }
  
  .ml8 .letters {
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: -1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }

 .navbar{
  padding: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
 }

.nav-link:hover{
  color: #193941;
} 

.par{
    font-family: 'PT Sans', sans-serif;
    margin-left: 70px;
    margin-top: 300px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.text{
  height: 100px;
}  

.itemBtn{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

  }

.btnView{
    color: white;
    padding: 10px;
    background-color: #4f7b86;
    margin-top: 30px ;
    margin-left: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    border: #193941 solid 2px;
    border-radius: 15px;
  }

.heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  

.col{
  margin-top: 80px;
}

.btn-group{
  background-color: #4f7b86;
}

a{
  text-decoration: none;
  color: black;
}

.form, .about{
  display: flex;
  justify-content: center;
  margin-top: 55px ;
  margin-left: 450px;
  margin-right: 450px;
  padding: 15px;
  background-color:#4f7b86 ;
  border: #193941 solid 2px;
  border-radius: 15px;
}

.referring, .contact{
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(241, 248, 248);
}

.article{
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

.itemOne, .itemTwo{
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 2;
  margin-top: 60px;
  color: rgb(241, 248, 248);
}

.words{
  color:rgb(241, 248, 248) ;
}

.words:hover{
  color: #4f7b86;
}
ul{
  list-style: none;
}
 #box{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #82acb7;
  padding: 20px;
  
 }

.skills{
  align-self: center ;
} 

.badges{
  margin-top: 60px;
}
.box{
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

label{
  padding: 10px;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

#subject, input{
  width: 400px;
}
.btnSubmit{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit{
  background-color: #4f7b86;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

@media all and (max-width: 800px){
  .heading{
    font-size: 25px;
  }
  .referring, .contact{
    font-size: 20px;
 }
 .form, .about{
   margin-left: 70px;
   margin-right: 70px;
 }
}

